 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #2B4F71;
active-foreground: #F3F9FC;
normal-background: #0F1113;
normal-foreground: #F3F9FC;
urgent-background: #4780B3;
urgent-foreground: #F3F9FC;

alternate-active-background: #1B4C84;
alternate-active-foreground: #F3F9FC;
alternate-normal-background: #0F1113;
alternate-normal-foreground: #F3F9FC;
alternate-urgent-background: #0F1113;
alternate-urgent-foreground: #F3F9FC;

selected-active-background: #2B4F71;
selected-active-foreground: #0F1113;
selected-normal-background: #2B4F71;
selected-normal-foreground: #0F1113;
selected-urgent-background: #1B4C84;
selected-urgent-foreground: #0F1113;

background-color: #0F1113;
background: rgba(0,0,0,0.7);
foreground: #F3F9FC;
border-color: #2B4F71;

color0: #38393C;
color1: #060D16;
color2: #09121D;
color3: #143963;
color4: #213C55;
color5: #356086;
color6: #A5B3B8;
color7: #E5EFF2;
color8: #A0A7A9;
color9: #08111D;
color10: #0C1826;
color11: #1B4C84;
color12: #2B4F71;
color13: #4780B3;
color14: #DCEFF5;
color15: #E5EFF2;


}

