 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #037CDA;
active-foreground: #F5F6F3;
normal-background: #17191E;
normal-foreground: #F5F6F3;
urgent-background: #3CB7FD;
urgent-foreground: #F5F6F3;

alternate-active-background: #03579C;
alternate-active-foreground: #F5F6F3;
alternate-normal-background: #17191E;
alternate-normal-foreground: #F5F6F3;
alternate-urgent-background: #17191E;
alternate-urgent-foreground: #F5F6F3;

selected-active-background: #037CDA;
selected-active-foreground: #17191E;
selected-normal-background: #037CDA;
selected-normal-foreground: #17191E;
selected-urgent-background: #03579C;
selected-urgent-foreground: #17191E;

background-color: #17191E;
background: rgba(0,0,0,0.7);
foreground: #F5F6F3;
border-color: #037CDA;

color0: #3D4046;
color1: #021327;
color2: #02172F;
color3: #024175;
color4: #025DA4;
color5: #2D89BE;
color6: #A9ABA5;
color7: #E8E9E5;
color8: #A2A3A0;
color9: #021934;
color10: #021F3E;
color11: #03579C;
color12: #037CDA;
color13: #3CB7FD;
color14: #E1E4DC;
color15: #E8E9E5;


}

